{{> shop/header}}
{{> shop/cart/cart}}
{{> shop/modal}}
{{> shop/topbar-left}}
{{> shop/logo}}
{{> shop/topbar-right}}
{{> shop/logoMobile}}
{{> shop/myNavpage}}
{{> shop/filter}}
{{> shop/sidebar}}

{{> shop/itemLayout}}

  {{!-- {{#if isAdmin}}
        
                    <div class="alert alert-success alert-dismissible">
                        <a href="/admin" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Удачных продаж! </strong><a class="close" href='/admin'>Перейти в панель управления</a> 
            </div>
{{/if}} --}}


{{> shop/item}}


              
{{!-- {{> shop/bottomPagination}} --}}
{{> shop/footer}}
 
{{> shop/scripts}}

<script>  
    $(window).scroll(function(e) {
        if($(window).width()>1199) {
          if($(window).scrollTop()>145) {     
            $('.header-v1 .header-top').addClass("fixed-header fadeInDown");  
            $('.header-v3 .topbar').addClass("fixed-header fadeInDown"); 
            $('.header-v4 .topbar').addClass("fixed-header fadeInDown");   
            $('.header-v5 .topbar').addClass("fixed-header fadeInDown");                   
          } else {
            $('.header-v1 .header-top').removeClass("fixed-header fadeInDown"); 
            $('.header-v3 .topbar').removeClass("fixed-header fadeInDown"); 
            $('.header-v4 .topbar').removeClass("fixed-header fadeInDown");  
            $('.header-v5 .topbar').removeClass("fixed-header fadeInDown");   
            $('.header-v5 .topbar').style('background:transparent')
         }
        }
    });
  </script>