{{> shop/header}}
{{> shop/cart/cart}}
{{> shop/modal}}
{{> shop/topbar-left}}
{{> shop/logo}}
{{> shop/topbar-right}}
{{> shop/logoMobile}}
{{> shop/myNavpage}}
{{> shop/filter}}
{{> shop/sidebar}}

{{> shop/itemLayout}}

  {{!-- {{#if isAdmin}}
        
                    <div class="alert alert-success alert-dismissible">
                        <a href="/admin" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Удачных продаж! </strong><a class="close" href='/admin'>Перейти в панель управления</a> 
            </div>
{{/if}} --}}


{{> shop/item}}


              
{{!-- {{> shop/bottomPagination}} --}}
{{> shop/footer}}
 
{{> shop/scripts}}