                            <div class="pagination-container pagination-blog button-v v2">
                                <nav>
                                    <ul class="pagination">
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>