
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container container-42">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="menu-footer">
                        <ul>
                            <li><a href="#">Pagos y envios</a></li>
                            <li><a href="#">Condiciones</a></li>
                            <li><a href="#">Aviso legal</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="newletter-form">
                        <h3 class="footer-title text-center">Boletin de noticias</h3>
                        <form action="#">
                            <input type="text" name="s" placeholder="Direccion email" class="form-control">
                            <button type="submit" class="btn btn-submit">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="social">
                        <a href="#" title="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" title="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" title="google plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" title="Pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a href="#" title="rss">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll_top">IR AL INICIO<span></span></a>