                <div class="logo hidden-xs hidden-sm">
                    <a href="" title="home-logo"><img src="img/logo.png" alt="logo" class="img-reponsive"></a>
                </div><br>
                <!--end logo-->