        <div class="clearfix"></div>
    </div>
    <div  class="container container-42 shop-sidebar">
        <div class="row">
            <div  class="col-md-3 col-sm-3 collection-sidebar">
                <div class="product-standard filter-product">
                    {{!-- <div class="filter filter-price">
                        <h3 class="filtertitle">
                            By price.
                        </h3>
                        <div class="filter-content">
                            <div class="price-range-holder">
                                <input type="text" class="price-slider" value="">
                            </div>
                            <span class="min-max">
                                Price: $30 — $3450
                            </span>
                            <span class="filter-title">
                                
                            </span>
                        </div>
                    </div> --}}
                    <div style='' class="filter filter-category">
                        <h3 class="filtertitle">
                           Te magico<i class="fas fa-leaf"></i> 
                        </h3>
                        <ul  class="filter-content js-filter-menu">
                            {{#each cats}}
                            <li><a style="color:rgba(82, 143, 26, 0.842); font-size:20px" href="">{{cat}}</a></li>{{/each}}
                            {{!-- <li><a href="">Dresses</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Gadgets</a></li>
                            <li><a href="">Hoodies</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Men</a></li>
                            <li><a href="">Shirts & Blouses</a>
                                <span class="plus js-plus-icon"></span>
                                <ul class="filter-menu">
                                    <li class=""><a href="#">Drop menu 1</a></li>
                                    <li class=""><a href="#">Drop menu 2</a></li>
                                    <li class=""><a href="#">Drop menu 3</a></li>
                                </ul>
                            </li>
                            <li><a href="">Shoes</a></li> --}}
                        </ul>
                    </div>
                    {{!-- <div class="filter filter-color">
                        <h3 class="filtertitle">
                           Proposito
                        </h3>
                        <ul class="filter-content">
                            <li><a href="">Grey</a></li>
                            <li><a href="">Metallic</a></li>
                            <li><a href="">Multicolour Nude</a></li>
                            <li><a href="">Pink</a></li>
                            <li><a href="">Purple</a></li>
                            <li><a href="">Red White</a></li>
                        </ul>
                    </div>
                    <div class="filter filter-size">
                        <h3 class="filtertitle">
                            By size
                        </h3>
                        <div class="filter-content">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Choose any size...
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">XXL</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">S</a></li>
                                    <li><a href="#">xS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-banner">
                        <a href=""><img src="img/sidebar-banner.jpg" alt="" class="img-reponsive"></a>
                    </div> --}}
                </div>
            </div>