 <div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                {{#each messages}}
                                {{messages.error}}
                                {{/each}}
                                <h3>Mi perfil magico</h3>
                            </div>
                            <form method="post" action="/login" class="form-customer form-login">
                                <div class="form-group">
                                    <label for="Login">Nombre de usuario *</label>
                                    <input type="login" name="login" class="form-control form-account" id="login">
                                </div>
                                <div class="form-group">
                                    <label for="password">contrase単a *</label>
                                    <input type="password" name="password" class="form-control form-account" id="password">
                                </div>
                                <div class="form-check">
                                    <button type="submit" class="btn-login hover-white">Acceder</button>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span>Recordar</span>
                                    </label>
                                    <a href="" class="lost-password">多Olvidaste tu contrase単a?</a>
                                </div>
                            </form>
                            <span class="divider"></span>
                            <a href="/register" class="btn link-button create-account hover-black">多No tienes cuenta? Registrate ahora!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content-->