 <div class="main-content space-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="customer-page">
                            <div class="title-page">
                                <h3>Crear cuenta de usuario</h3>
                            </div>
                            <form method="post" action='/register' class="form-customer form-login">
                                <div class="form-group">
                                    <label for="email">Direccion email *</label>
                                    <input type="email" class="form-control form-account" id="email" name="email">
                                </div>
                                                                <div class="form-group">
                                    <label for="login">Nombre de usuario *</label>
                                    <input class="form-control form-account" id="login" name="login">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña *</label>
                                    <input type="password" name="password" class="form-control form-account" id="exampleInputPassword1">
                                </div>
                                <div class="form-check">
                                    <button type="submit" class="btn-login btn-register hover-white">Registro</button>
                                </div>
                            </form>
                            <span class="divider"></span>
                            <a href="/login" class="btn link-button create-account hover-black">¿Ya tienes cuenta?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>