
   <div class="container">
            <h2 class="faq-title text-center">Добро пожаловать в панель управления управления чайным складом!</h2>
            <div class="faq js-faq">
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Добавление товара
                    
                    </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                       {{>admin/itemAddForm}}

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Правка/Удаление позиций
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
           {{>admin/showItems}}
                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Загрузка картинок, привязка к товару
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                        
                          <div class="form-group">
{{>admin/addImagesForm}}
  </div>

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Управление категориями
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                         
                        
                       <ul id="catas" class="list-group cProductsList">
                         {{#each categoria}}  <li>{{cat}}</li> {{/each}}
                        </ul>
                        

                       <input type="text" name="categoria" id="categoria" required>
                     <button class="btn btn-success" type="button" id="addCat">Добавить основную категорию</button>
<br><br><br>

                    
                       <div class="tags"><h3>
                        <div class="tag">{{#each tags}}&nbsp;{{tag}}, <i id="{{tag}}" class="fas fa-trash-alt js-removeTag"></i> {{/each}}</div></h3> 
                        </div><br><br>
                        <input type="text" name="tag" id="tag" required>
                     <button class="btn btn-success" type="button" id="addTag">Добавить тэг категорию</button>

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">TestCart
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                
                    </div>
                </div>
            </div>
        </div>
 	

