  <script type="text/javascript" src="/js/autofill.js"></script>
   <div class="container">
            <h2 class="faq-title text-center">Добро пожаловать в панель управления управления чайным складом!</h2>
            <div class="faq js-faq">
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Добавление товара
                    
                    </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                       {{>admin/itemAddForm}}

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Правка/Удаление позиций
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
           {{>admin/showItems}}
                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Загрузка картинок, привязка к товару
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                        
                          <div class="form-group">
{{>admin/addImagesForm}}
  </div>

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">Управление категориями
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                        {{#each categoria}}
                       <ul class="list-group cProductsList">
                           <li>{{cat}}</li>
                        </ul>
                        {{/each}}

                       <input type="text" name="categoria" id="categoria">
                     <button type="button" id="addCat">Click me!</button>

                    </div>
                </div>
                <div class="faq-content">
                    <a href="" onClick="return false;" class="faq-quest">How To Order A Gift Card?
                    
                </a>
                    <span class="plus js-plus-icon"></span>
                    <div class="faq-answer">
                        <p>Completely network high standards in innovation whereas goal-oriented paradigms. Intrinsicly morph human capital via enabled convergence. Objectively pursue leading-edge web-readiness before market-driven paradigms. Competently disseminate go forward "outside the box" thinking before proactive expertise. Quickly incubate effective schemas through future-proof users.</p>
                        <p>Professionally initiate alternative metrics before high standards in synergy. Quickly enable orthogonal technology for enabled sources. Dramatically evisculate functional web services via emerging human capital. Synergistically promote high-payoff niches and client-based niches. Appropriately mesh technically sound processes vis-a-vis exceptional meta-services.
                        </p>
                        <p>Intrinsicly re-engineer standards compliant potentialities with business process improvements. Authoritatively reinvent cross-unit catalysts for change before high-quality outsourcing. Uniquely predominate technically sound web-readiness rather than cost effective solutions. Phosfluorescently synergize.</p>
                    </div>
                </div>
            </div>
        </div>
 	
<script>
 
</script>