<div class="container">
<br>
<h1>Выбор обложки для товара</h1>
<ul class="list-group cProductsList"> 
  
  <br>
  <form method="post" action="setMain">
      <input type="hidden" value="{{item._id}}" name="itemId">
{{#each item.images}}

 
 <img src="uploads/{{this}}" with='70' height='70'>
 M:<input style="background:chartreuse" type="radio" name='mainImg' id='mainImg' value='{{this}}'>
 T:<input style="color:rgb(255, 0, 0)" type="radio" name='thumb' id='thumb' value='{{this}}'>

  {{/each}}
  <button class="btn btn-success btn-block" type="submit">Выбор</button>
</form>
</ul>
</div>
 



